body{
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif; 
}
img{
    max-width: 100%;
}

.CardButton{
    background-color: white; 
    border: 2px solid rgb(244, 209, 10) ;
    color: rgb(244, 209, 10);
    background: transparent;
    border: 2px solid rgb(244, 209, 10) ;
    border-radius: 6px;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.CardButton:hover{
    background-color:rgb(244, 209, 10) ;
    color: white;
}
.Card{
    max-width: 350px;
    background-color: #f8f8f8;
    border-radius: 8px;
    margin: 1rem;
    box-shadow: 0 0 12px  rgb(244, 209, 10);
}
.CardHeader img{
    border-radius: 8px 8px 0 0;
    max-height: 200px;
    height: 200px;
    width: 100%;
}
.CardFooter{
    text-align: center;
    display: flexbox;
}

.CardCategoria{
    text-align: center;
    margin-top: 1rem;
    text-align: left;
}
.CardCategoria span {
    background: #25c4d8 ;
    color: #fff;
    padding: .2rem .5rem;
    border-radius: 4px;
    
}
.CardCategoria h1{
    padding: 20px;
    text-align: center;
}
.CardWard{
    display: flex;
    flex-flow: wrap;
}
