
*{
    transition: all 0.3s ease-in-out;
}
  
.Container {
    overflow: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 5px 5px  rgb(244, 209, 10);
    

}
  
.Ul li {
    display: inline-block;
    padding-left: 50px;
    font-size: 20px;
    font-family: raleway;
}
  
.Ul li:hover {
    color: rgb(244, 209, 10);
}

@media (max-width: 400px) {
  .Ul li {
    display: flex;
    font-size: 20px;
    font-family: raleway;
}
}

