
*{
    transition: all 0.3s ease-in-out;
}
  
.Container {
   
    display: flex;
    background: transparent;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 5px 5px  rgb(244, 209, 10);
    

}
  
.Categories {
    display: flex;
}
  
.Categories :hover {
    color: rgb(244, 209, 10);
}
.CategoriesLink{
    text-decoration: none;
    margin: 0 30px;
    color: black;
    
    display: flex;
    align-self: center;
   justify-content: center;
    align-items: center;
}

@media (max-width:660px) {
    .CategoriesLink{
        margin: 0;
    
    }        
}


